{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "quoteProps": "as-needed",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
